*{
    margin: 0;
}

/* Code for navbar */
.navbar{
    height: 10rem;
    background-color:  #17072b;
    color:  #FFFFFF;
}

.navbarheading{
    font-size: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar h1{
    margin: 2rem;
    text-decoration: underline ;
    font-weight: bolder;
}

.navbarcontent{
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 400;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}

/* Code for body content */
.content{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 400;
}

#subheading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1rem;
    text-decoration: underline;
    font-weight: bolder;
}

p{
    margin: 1rem;
}

#image1{
    margin: 1rem;
    height: 17rem;
    width: 45rem;
    background-color: #17072b;
    object-fit: contain;
}

.bluebox{
    margin-left:48rem;
    margin-top: -28rem;
    margin-right: 0;
    color: #FFFFFF;
    height: 25rem;
    width: 30rem;
    background-color:  #172d67;
    top:10rem;
    left:20rem;
}

#blueboxheading{
    margin: 1rem;
    margin-top: 1rem;
    font-weight: bolder;
    text-decoration: underline;
}

.images{
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    height: 10rem;
    width: 10rem;
    background-color: #17072b;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#img2{
    object-fit: cover;
    position:absolute;
    bottom: 10rem;
    right: 17rem;
    background-image: url('img\ 2.png');
}

#img3{
    object-fit: cover;
    position: absolute;
    bottom: 10rem;
    right: 5rem;
    background-image: url('img\ 3.png');
}

/* Code for Footer */
#footercontent{
    margin-left:0 ;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 3.8rem;
    text-align: center;
    color: #FFFFFF;
    padding: 0.5rem;
    background-color: #8c15e9;
}